@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  justify-content: center;
  padding-top: 5rem;
  overflow: hidden;
  display: flex;
  margin: 0;
}

.row {
  justify-content: space-between;
  margin-bottom: 1rem;
  display: flex;
  width: 600px;
}

.col-header {
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  padding: 0.8rem 1rem;
  letter-spacing: 3px;
  border-radius: 20px;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  width: 150px;
}

.item {
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border: 1px solid #eee;
  vertical-align: middle;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  display: table-cell;
  text-align: center;
  color: #828282;
  cursor: grab;
  width: 150px;
  height: 66px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  border: 5px double green;
}

.hide {
  display: none;
}

.hovered {
  border-top: 4px ridge dodgerblue;
}
